html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: rgb(235, 235, 235);
}

canvas {
  display: block;
}

.three-liquid-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.three-liquid-container .liquid-child {
  height: 100%;
}

.three-liquid-container .ember-view {
  height: 100%;
}

.controls-container {
  position: absolute;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
}

.scale-slider {
  width: 100%;
}

.next-shape-button {
  display:inline-block;
  width: 160px;
  background-color: rgba(227, 89, 66, 1.0);
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  border: 0;
  border-radius: 0px;
  padding: 5px 15px;
  box-shadow: none;
  font-size: 17px;
}
