html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

body {
  background-color: rgb(235, 235, 235);
}

canvas {
  display: block;
}

.three-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.scale-slider {
  width: 100%;
}

.scale-slider-wrapper {
  position: absolute;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
