{{three-container scale=scale shapeData=model}}

<div class="controls-container">
  <input class="scale-slider"
         type="range"
         min="0.05"
         max="2.0"
         step=".05"
         defaultValue="1.0"
         value={{scale}}
         oninput={{action (action "updateScale")}}
         />

  <button {{action "nextShape"}} class="next-shape-button">Next Shape</button>
</div>
